
body {
  /* align-items: center; */
  background-color: hwb(218 77% 7%);
  font-family: Outfit;
}

.card {
  /* border: 5px solid blue; */
  /* background-color: rgb(255, 255, 255); */
  background-color: hsl(0, 0%, 100%);
  width: 350px;
  height: 500px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 80px;
  border-radius: 20px;
  text-align: center;
}

img {
  width: 310px;
  margin-top: 20px;
  border-radius: 15px;

}

.text {
  /* font-stretch: expanded; */
  /* font-stretch: ultra-expanded; */
  font-stretch: 150%;
  width: 240px;
  margin-left: auto;
  margin-right: auto;
  /* font-size: 20px; */
  /* font-stretch: ultra-expanded; */
  /* font-stretch: 150%; */
  /* white-space: nowrap; */
  /* overflow: hidden; */
  /* text-overflow: clip; */
}
.text1 {
  font-size: large;
  letter-spacing: .6px;
  /* font-stretch: 750%; */
  

}
.text2 {
  /* color: hsl(212, 45%, 89%); */
  color: hsl(220, 15%, 55%);
  font-size: 15px;
  font-weight: 400;
  letter-spacing: .6px;
}