
body {
  /* align-items: center; */
  background-color: hwb(218 77% 7%);
  font-family: "Outfit", sans-serif;
}

.card {
  /* border: 5px solid blue; */
  /* background-color: rgb(255, 255, 255); */
  background-color: hsl(0, 0%, 100%);
  /* width: 350px; */
  width: 20rem;
  /* height: 520px; */
  height: 30rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 80px;
  border-radius: 20px;
  text-align: center;
}

img {
  width: 310px;
  margin-top: 20px;
  border-radius: 15px;

}

.text {
  
  font-stretch: 10%;
  width: 290px;
  margin-left: auto;
  margin-right: auto;
  /* margin-bottom: 20px;
  padding-bottom: 20px; */
  
}
.text1 {
  font-size: large;
  letter-spacing: .6px;

}


.text2 {
  /* color: hsl(212, 45%, 89%); */
  color: hsl(220, 15%, 55%);
  font-size: 15px;
  font-weight: 400;
  letter-spacing: .6px;
  /* margin-bottom: 20px;
  padding-bottom: 20px; */
}